<% layout('../shared/master') -%>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <h2 class="card-title">The operation was completed successfully</h2>
                    <div class="pt-1 pb-1">
                        <p>You will receive a email including instructions on how to reset your password.</p>
                    </div>
                    <div>
                        <a href="<%=html.context.application.resolveUrl('~/login')%>" class="btn btn-primary mt-3 text-uppercase">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>