<%# { "layout":"./../shared/master.html.ejs", "title":"Password Reminder" } %>
<div class="row justify-content-center" ng-controller="ResetPasswordController as login">
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <form class="form" name="form" method="post" action="" novalidate="novalidate">
                        <h1 server-translate="">Forgot your password?</h1>
                        <input type="hidden" server-anti-forgery="">
                        <p class="text-muted" server-translate="">Type the email address you used when you registered.</p>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input autocomplete="no" type="email" ng-model="email" required="required" class="form-control" placeholder="Email" name="email" server-translate="">
                        </div>
                        <% if (model.code === 'EFAIL') { %>
                        <div class="col-sm-12 justify-content-center">
                            <p class="pb-2 text-danger text-center" server-translate=""><%=model.message%></p>
                        </div>
                        <% } else { %>
                        <div class="col-sm-12 justify-content-center">
                            <p class="pb-2 text-center" server-translate="">A verification code will be sent to you. Follow the instructions to complete the operation.</p>
                        </div>
                        <% } %>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary px-4" ng-disabled="form.$invalid" server-translate="" server-strip-accents="">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <div>
                        <h2 server-translate="">Not a member?</h2>
                        <a class="btn btn-primary active mt-3" server-translate="">Sign up now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>