<%# { "layout":"./../shared/master.html.ejs", "title":"Reset Password" } %>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <h2 class="card-title" server-translate="" server-strip-accents="">The operation was completed succesfully</h2>
                    <div class="pt-1 pb-4">
                        <p server-translate="">Your password was changed.</p>
                    </div>
                    <div>
                        <a href="/login" class="btn btn-primary mt-3" server-strip-accents="" server-translate="">Home</a>
                    </div>
                </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


