<% layout('../shared/master') -%>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-group">
            <div class="card border-0">
                <div class="card-body">
                    <div class="text-center mb-5 mt-5">
                        <i class="fa-5x text-primary fa far fa-user"></i>
                    </div>
                    <div class="pt-1 pb-4">
                        <p class="card-description text-justify"><%=html.context.translate('SuccesfullyLoggedIn')%></p>
                    </div>
                    <div class="text-center">
                        <a href="<%=html.context.application.resolveUrl('~/logout')%>" class="btn btn-primary"><%=html.context.translate('SignoutLabel')%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>